#status {

    font-size: 12px;

    color: #86efac;

    margin-top: 4px;

}

#typing {

    padding-left: 15px;

    padding-bottom: 5px;

    font-size: 13px;

    color: gray;

}

.top-actions {

    display: flex;

    align-items: center;

    gap: 12px;

}

#darkToggle {

    background: transparent;

    border: none;

    color: white;

    font-size: 18px;

    cursor: pointer;

}

.dark-mode {

    background: #0f172a;

}

.dark-mode #messages {

    background: #0f172a;

}

.dark-mode .other-message {

    background: #1e293b;

}

.dark-mode .message-text {

    color: white;

}

.dark-mode .message-user {

    color: #cbd5e1;

}

.dark-mode .topbar {

    background: #020617;

}

.dark-mode .message-box {

    background: #111827;

}

.dark-mode input {

    background: #1e293b;

    color: white;

    border: 1px solid #334155;

}