<!DOCTYPE html>
<html>

<head>

    <title>WhisperBox</title>

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <link
        rel="stylesheet"
        href="/static/style.css"
    >

</head>

<body>

<div class="chat-app">

    <div class="topbar">

        <div class="app-name">
            WhisperBox
        </div>

        <a href="/logout" class="logout-btn">
            Logout
        </a>

    </div>

    <div id="messages">

        {% for message in messages %}

        <div
            class="
                {% if message.username == username %}
                    my-message
                {% else %}
                    other-message
                {% endif %}
            "
            id="message-{{ message.id }}"
        >

            <div class="message-user">
                {{ message.username }}
            </div>

            {% if message.image %}

            <img
                src="/static/uploads/{{ message.image }}"
                class="chat-image"
            >

            {% endif %}

            {% if message.text %}

            <div class="message-text">
                {{ message.text }}
            </div>

            {% endif %}

            <div class="message-footer">

                <span class="message-time">
                    {{ message.timestamp.strftime('%H:%M') }}
                </span>

                <button
                    class="delete-btn"
                    onclick="deleteMessage({{ message.id }})"
                >
                    Delete
                </button>

            </div>

        </div>

        {% endfor %}

    </div>

    <div class="message-box">

        <input
            type="text"
            id="message"
            placeholder="Type a message"
        >

        <input
            type="file"
            id="imageInput"
            accept="image/*"
        >

        <button onclick="sendMessage()">
            ➤
        </button>

    </div>

</div>

<script>

    const USERNAME = "{{ username }}";

</script>

<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>

<script src="/static/script.js"></script>

</body>

</html>